@page "/"

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

  
    <div class="forsideboks">


        <h1 class="forsideoverskrift">Book i naturen</h1>


        <h2 class="forsideunderskrift">Book et shelter og oplev naturen på en helt ny måde</h2>

    </div>